# Razorpay Configuration
VITE_RAZORPAY_KEY_ID=rzp_test_SlPg0Y079nowyi
VITE_RAZORPAY_KEY_SECRET=S31goMlnulJVW43QoDlvBytP
RAZORPAY_KEY_ID=rzp_test_SlPg0Y079nowyi
RAZORPAY_KEY_SECRET=S31goMlnulJVW43QoDlvBytP
GEMINI_API_KEY=
